<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body {
        margin: 0;
        padding: 0;
        background: #ededed;
      }
      .advert-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>
  </head>
  <body>
    {% set adSlotId = 'ad-' ~ random(100000000) %}
    {% set advertData = advert_data(post, display_type, 'article', null, null, null, post_fix_override) %}
    <div class='advert-container
        advert-container--status-no-init
        advert-container--type-{{ advertData.type }} js-module'
        data-module='AdvertSlot'>
      <div id='{{ adSlotId }}'></div>
      <script class='advert-data' type='application/json' data-id='{{ adSlotId }}'>
        {{ advertData | json_encode | raw}}
      </script>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script>
      {{js_string|raw}}
    </script>
  </body>
</html>
