<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body {
        margin: 0;
        padding: 0;
        background: #ededed;
      }
      [rel='advert'] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .mobile-only { display: block;}
      .tablet-only { display: none;}
      .desktop-only { display: none;}
      @media screen and (min-width: 768px) {
        .mobile-only { display: none;}
        .tablet-only { display: block;}
        .desktop-only { display: none;}
      }
      @media screen and (min-width: 1024px) {
        .mobile-only { display: none;}
        .tablet-only { display: none;}
        .desktop-only { display: block;}
      }
    </style>
  </head>
  <body>
    {% set advert_data = advert_data(post, display_type, 'top', null) %}

    {% for device in advert_data.devices %}
      <div class='{{device.type}}-only' rel='advert' data-targetting='pos=top' data-sizes='{{device.creative_sizes}}'></div>
    {% endfor %}

    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script>
      {{js_string | raw}}
    </script>
    <script>
$(document).ready( function () {
  dfp.collapsable = true;
  dfp.network = '{{advert_data.network}}';
  dfp.zone = '{{advert_data.zone}}';

  dfp.enable();
});
    </script>
  </body>
</html>
